<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238479552132-n8mdrtil5bfko9jt1dr6ios20k5n9hnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238479552132-n8mdrtil5bfko9jt1dr6ios20k5n9hnf</string>
	<key>API_KEY</key>
	<string>AIzaSyCe8ulw_80_ZoCuTcJIdfzObEQfmwhnILw</string>
	<key>GCM_SENDER_ID</key>
	<string>238479552132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HM.IITGTALKS</string>
	<key>PROJECT_ID</key>
	<string>iitgtalks</string>
	<key>STORAGE_BUCKET</key>
	<string>iitgtalks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238479552132:ios:249f621135f5e0f69f5cd1</string>
	<key>DATABASE_URL</key>
	<string>https://iitgtalks.firebaseio.com</string>
</dict>
</plist>